name: Publish release

on:
  release:
    types: [published]

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v2
        with:
          ref: 'master'

      - name: Set up JDK 17
        uses: actions/setup-java@v2
            with:
                distribution: 'temurin'
                java-version: '17'
                cache: 'maven'

      - name: Publish artifact
        env:
          NEW_VERSION: ${{ github.event.release.tag_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B --settings .github/.m2/settings.xml versions:set -DnewVersion=${NEW_VERSION}
          mvn -B --settings .github/.m2/settings.xml clean deploy
